[Unit]
Description="Manages and reinstall user changes to the SteamOS read-only rootfs."
After=network.target
Wants=network.target

[Service]
Type=oneshot
ExecStart=/etc/SteamOSRootReback/SteamOSRootReback.sh
WorkingDirectory=/etc/SteamOSRootReback/working
RemainAfterExit=yes
Restart=on-failure

[Install]
WantedBy=multi-user.target
